GOOGLE_CLIENT_ID=dont_flag-github-w4lt3rWh1t3.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=GOCSPX-HeisenbergSaysThisIsFake420
GOOGLE_REDIRECT_URI=http://*******:80/callback

MONGODB_URI=mongodb+srv://heisenberg:iamthedanger@los-pollos-hermanos.mongodb.net/?appName=BlueSky

SESSION_SECRET=say-my-name-say-my-name-k8x2m9

GEMINI_API_KEY=AIzaSy-NotARealKey-JesseWeNeedToCook

CRON_SECRET=i-am-the-one-who-knocks

BRIEF_TO_EMAIL=walter.white@graymatter.tech

ALLOWED_EMAIL=heisenberg@lospolloshermanos.com
